# Django 기본 프레임워크
Django==5.1

# Django REST API
djangorestframework

# CORS (프론트엔드 연동용)
django-cors-headers

# 환경변수 관리 (.env 파일)
python-dotenv

# PostgreSQL 드라이버
psycopg[binary]==3.2.2

# Django에서 pgvector 확장 쓰기
pgvector
